{% extends '../base.html'%}
{% load custom_tags %}

{% block content%}

    <div class="col-md-6 offset-md-3">
    <h1>List of all exercises</h1>

    <div class="input-group align-self-start col-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Sort by type</label>
      </div>
      <select class="custom-select" id="workout_type" onchange="sort_by_type()">
          <option value='all' >ALL</option>
          {% for t in e_type %}
            <option value={{ t.type }}>{{ t.type }}</option>
          {% endfor %}
      </select>
    </div>

    <h2>{{ message }}</h2>

    <ul>

        {% for exercise in exercises %}

        <li><a href="{% url 'view_exercise' exercise.pk %}">{{ exercise.name }}</a></li>

        {% endfor %}

    </ul>

    </div>

    <script>
        function sort_by_type() {
            var workout_type = document.getElementById('workout_type').value;
            var url = "{% url 'all_exercises' %}";
            document.location.href = url + workout_type;
        }
    </script>

{% endblock %}
