{% extends '../base.html'%}
{% load custom_tags %}

{% block content%}

    {{ error}}
    <div class="col-md-6 offset-md-3">

    <form method="POST">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div>
          {{ field.label_tag }}
          {{ field }}
        </div>
        {% endfor %}
        <a href={{ exercise.name|search }} target="_blank">Search on Youtube</a>
        <button type="submit">Save</button>
    </form>


    <form method="POST" action="{% url 'delete_exercise' exercise.id  %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

    </div>

{% endblock %}